.container {
    width: 810px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.mySpace {
    background: lightskyblue;
    text-align: center;
    padding: 20px 0px;
    font-size: 30px;
    border-radius: 25px;
    margin: 5px;
    width: 800px;
    height: 100px;
}